<div class="container min-h-100">
  <div class="row">
    <h1>About</h1>
    <h2>Why this website exists</h2>
    <p>This is a website that will help you and your friends to calculate your Ticket to Ride game.</p>
    <p>We all know that playing the game is the most fun part. Then the excitement of who's going to win comes second. But if you are four or more people playing, it can take a while to count the points and the excitement kind of dies if it takes to long to count.</p>
    <p>The solution is this website, <a routerLink="/" routerLinkActive="active">ticket-to-ride-calculator.com</a>. You're already here. You can click the link or the logo in the top left corner.</p>
    <hr>
    <h2>Who created it?</h2>
    <p>25 year old from Sweden called Philip. Check out <a href="https://philipdev.se">philipdev.se</a>.</p>
    <hr>
    <h2>How is it created?</h2>
    <p>It is made with the JS framework/platform called Angular.</p>
    <hr>
    <h2>Terms and conditions</h2>
    <h3>Google Analytics</h3>
    <p>By using this service you accept that we will use Google Analytics to know how many people are using ticket-to-ride-calculator.com.</p>
    <h3>Your data</h3>
    <p>We don't have a database that collects your data, it's all saved in YOUR browser. This means that we can not access it remotely.</p>
  </div>
</div>