
<app-app-header [toastMsg]="toastMsg" [openToast]="openToast" [closeToast]="closeToast" [players]="players" [clearLocalstorage]="clearLocalstorage" [activeMap]="activeMap" [saveLocalstorage]="saveLocalstorage"></app-app-header>

<router-outlet></router-outlet>
<div class="container min-h-100" role="main">
  <!-- Resources -->
  <div class="row">
    <div class="col-12">
      <select (change)="mapChange($event)" class="form-select" aria-label="Default select example">
        <option selected>Change map</option>
        <option *ngFor="let map of maps" value="{{ map.id }}">{{ map.name }}</option>
      </select>
    </div>
  </div>
  
  <app-tabs-container [toastMsg]="toastMsg" [openToast]="openToast" [closeToast]="closeToast" [players]="players" [clearLocalstorage]="clearLocalstorage" [activeMap]="activeMap" [saveLocalstorage]="saveLocalstorage" class="row"></app-tabs-container>
  
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 1rem; right: 1rem;">
    <div class="toast-header">
      <strong style="margin-right:auto">Alert</strong>
      <small class="btn btn-sm p-0" (click)="closeToast()">Close</small>
    </div>
    <div class="toast-body">
      {{ toastMsg }}
    </div>
  </div>
  
</div>
