<div class="col-12 pb-1">
  <div class="row justify-content-center">
    <button class="m-1 col col-md-auto btn btn-sm btn-success" (click)="saveLocalstorage('data', players); saveLocalstorage('tickets', ticketsEurope)">Save</button>
    <button class="m-1 col-auto btn btn-sm btn-danger" (click)="clearLocalstorage()">Reset</button>
  </div>
</div>
<ul class="col-12 nav nav-tabs" id="myTab" role="tablist">
  <li *ngFor="let player of players" class="nav-item" role="presentation">
    <button class="nav-link {{player.show ? 'active' : ''}} text-{{ player.colorId }} border-{{ player.colorId }}" (click)="tabClick(player.id)" id="tab-{{ player.id }}" data-bs-toggle="tab" data-bs-target="#tab-content-{{ player.id }}" type="button" role="tab" aria-controls="tab-content-{{ player.id }}" aria-selected="true">
      {{ player.name }}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button (click)="addPlayer()" style="border-radius: 40px!important; transform: scale(.8);" class="nav-link text-success" id="addPlayerTab" data-bs-toggle="tab" type="button"  aria-selected="true">+</button>
  </li>
</ul>
<div class="col-12 tab-content pb-5" id="myTabContent">
  <div class="container-fluid p-1 tab-pane fade {{ player.show ? 'show active' : '' }}" *ngFor="let player of players" id="tab-content-{{ player.id }}" role="tabpanel" aria-labelledby="tab-{{ player.id }}">
    <div class="row">
      <div class="col">
        <label class="main-labels">Name:</label>
        <h2>
          <input class="text-{{ player.colorId }} name" value="{{ player.name }}" (keyup)="onKey($event, player)" type="text">
        </h2>
      </div>
      <div class="col-4" style="text-align: right;">
        <label class="main-labels">Points:</label>
        <h2 class="text-{{ player.colorId }}">{{ player.totalPoints }}</h2>
      </div>
      <div class="col-6 col-md-auto">
        <label class="main-labels">Color:</label>
        <select (change)="colorSelect(player, $event)" id="colorselect-{{ player.id }}" class="form-select" aria-label="Player color selector">
          <option selected>Change color</option>
          <option *ngFor="let color of colors" value="{{ color.id }}">{{ color.name }}</option>
        </select>
      </div>
      <div class="col col-md-auto">
        <label class="main-labels">Express bonus?</label>
        <div class="col-12">
          <input class="form-check-input d-none expressbonus" (change)="expressBonusCheck(player, $event)" id="expressbonus-{{ player.id }}" type="checkbox">
          <label class="py-0 btn btn-{{ player.longestPath ? 'success' : 'danger' }} form-check-label expressbonus mx-1" for="expressbonus-{{ player.id }}">{{ player.longestPath ? 'Yes' : 'No' }}</label>
        </div>
      </div>
      
      <div class="col d-none">
        <label class="main-labels">Completed Tickets:</label>
        <div class="list-group max-height-list">
          <div class="list-group-item" *ngFor="let ticket of player.playerTickets">
            {{ ticket.from }} -> {{ ticket.to }} (+{{ ticket.points }})
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <label class="main-labels">Routes:</label>
          <div class="col-4 col-md-auto" *ngFor="let route of routePoints">
            <div class="row p-1">
              <div class="col route-square">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="m-0">{{ route.length }}</h4>
                    <small>
                      <span style="font-weight: 100">{{ displayAmountOfRoute(route.length, player) }}</span>
                      <span class="text-muted"> * {{ route.points }}</span></small>
                  </div>
                  <div style="padding-left: 0" class="btn-group-vertical col-auto" role="group" aria-label="add or remove routes">
                    <button style="background: #444; font-weight: 700;" (click)="routeClick('+', route, player.id)" class="btn btn-dark text-success" type="button">+</button>
                    <button style="background: #444; font-weight: 700;" (click)="routeClick('-', route, player.id)" class="btn btn-dark text-danger" type="button">-</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="main-labels">Tickets:</label>
      <div class="col-12 route-square p-2 px-md-4 py-md-3">
        <div class="row">
          <div class="col-12 col-md-6">
            <h4 class="text-light">{{ player.name }}'s tickets</h4>
            <div class="list-group max-height-list">
              <div class="list-group-item d-flex align-items-center justify-content-between pt-1" *ngFor="let ticket of player.playerTickets">
                <span>{{ ticket.from }} -> {{ ticket.to }} (+{{ ticket.points }})</span>
                <div class="form-check">
                  <input class="form-check-input" (change)="failCheckbox(ticket, $event)" id="{{ ticket.from }}{{ ticket.to }}" type="checkbox">
                  <label class="form-check-label" for="{{ ticket.from }}{{ ticket.to }}">Fail?</label>
                </div>
                <button style="font-weight: 700;" (click)="changeTicket(player, ticket)" class="btn btn-light text-danger {{ ticket.selected ? '' : 'd-none' }}">-</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h4 class="text-light">All tickets</h4>
            <input (keyup)="filter('ticketUl', $event)" class="form-control col-12" placeholder="Filter">
            <div id="ticketUl" class="list-group max-height-list">
              <div class="list-group-item align-items-center justify-content-between" *ngFor="let ticket of ticketsEurope">
                <span class="{{ ticket.selected ? 'text-muted' : '' }}">{{ ticket.from }} -> {{ ticket.to }} (+{{ ticket.points }})</span>
                <div>
                  <button style="font-weight: 700;" (click)="changeTicket(player, ticket)" class="btn btn-light text-success  {{ ticket.selected ? 'd-none' : '' }}">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <button class="my-1 col-auto btn btn-sm btn-danger" (click)="deletePlayer(player)">Remove player</button>
    </div>
  </div>
</div>